
<ion-content class="ion-padding">
  <ion-grid class="login-grid" justify-content-center>
    <ion-row>
      <ion-col size-md="4" size-lg="6" offset-md="4" offset-lg="3">
        <div class="login-form">
          <img src="assets/login-logo.png" alt="Logo" class="login-logo">
          <ion-item lines="full">
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>

          <ion-button expand="full" shape="round" class="login-button">Iniciar Sesión</ion-button>
          
          <div class="login-links">
            <a href="#">Olvidar contraseña</a>
            <span class="separator">|</span>
            <a href="#">Crear nueva cuenta</a>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
