<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Orders</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>


<ion-card>
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card-subtitle>Order Number</ion-card-subtitle>
        </ion-col>
        <ion-col>#1235554321</ion-col>
        
      </ion-row>

    </ion-grid>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>